.MarkDownWrapper {
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	display: flex;
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px 40px;
}

.MarkDown {
	width: 100%;
}

@media (max-width: 640px) {
	.MarkDown p {
		font-size: 18px;
	}
}

@media (max-width: 400px) {
	.MarkDownWrapper {
		padding: 10px 20px;
	}
	.MarkDown p {
		font-size: 15px;
	}
}


.MarkDown h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.MarkDown h1 {
	color: #000000;
	font-size: 28pt;
}

.MarkDown h2 {
	border-bottom: 1px solid #CCCCCC;
	color: #000000;
	font-size: 24px;
}

.MarkDown h3 {
	font-size: 18px;
}

.MarkDown h4 {
	font-size: 16px;
}

.MarkDown h5 {
	font-size: 14px;
}

.MarkDown h6 {
	color: #777777;
	background-color: inherit;
	font-size: 14px;
}

.MarkDown hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

.MarkDown p, blockquote, ul, ol, dl, li, table, pre {
	margin: 15px 0;
}

.MarkDown img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
}

.MarkDown table {
	border-collapse: collapse;
	width: 100%;
}

.MarkDown table, th, td {
	border: 1px solid #EAEAEA;
	
	border-radius: 3px;
	padding: 5px;
}

.MarkDown tr:nth-child(even) {
  background-color: #F8F8F8;
}

.MarkDown a, a:visited {
	color: #4183C4;
	background-color: inherit;
	text-decoration: none;
}

.MarkDown #message {
	border-radius: 6px;
	border: 1px solid #ccc;
	display:block;
	width:100%;
	height:60px;
	margin:6px 0px;
}

.MarkDown button, #ws {
	font-size: 10pt;
	padding: 4px 6px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background-color: #eee;
}

.MarkDown code, pre, #ws, #message {
	font-family: Monaco, monospace;
	font-size: 10pt;
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}

.MarkDown code {
	border: 1px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 5px;
}

.MarkDown pre {
	border: 1px solid #CCCCCC;
	overflow: auto;
	padding: 4px 8px;
}

.MarkDown pre > code {
	border: 0;
	margin: 0;
	padding: 0;
}

#ws { background-color: #f8f8f8; }

.send { color:#77bb77; }
.server { color:#7799bb; }
.error { color:#AA0000; }
